@charset "utf-8";
/* CSS Document */

.drugs_pic{
	margin:auto;
	height:200px;
	background-image:url(../slides/slide_.jpg);
	background-size:cover;
	width:1000px;
}
.dir_space{
	margin:auto;
	height:150px;
	width:1000px;
	margin-top:10px;
}
.dir_photo{
	float:left;
	height:150px;
	width:150px;
	background-color:#CFC;
}
.dir_words{
	float:right;
	height:150px;
	width:840px;
	text-align:justify;
}
.drug_assurance{
	padding-top:20px;
	text-align:justify;
	height:auto;
	margin:auto;
	width:1000px;
}